$foreground-color: #A9B7C6;
$background-dark-color: #2B2B2B;
$background-light-color: #7E7E7E;
$nav-dark-color: #323232;
$nav-light-color: #3C3F41;
$selection-color: #0d273a;
$current-line-color: #323232;
$text-light-color: #C5C5C5;
$text-dark-color: #808080;
$green-color: #7FB347;
$green-dark-color: #619647;
$green-light-color: #A5C25C;
$yellow-color: #FFC66D;
$blue-dark-color: #6897BB;
$blue-light-color: #BED6FF;
$orange-color: #CB772F;
$purple-color: #9876AA;

