@import './variables';

/* You can add global styles to this file, and also import other style files */
html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
}
body{
  background-color: $background-dark-color !important;
}

.text-dark {
  $text-dark-color: #808080;
}


.project-tabs {
  .nav-tabs {
    background-color: $nav-dark-color;
    height: 31px;
    border-bottom: none;

    .nav-link {
      font-size: small;
      padding: 6px 12px;
      color: $text-light-color;
      background-color: $nav-light-color;
      border: none;
      border-radius: 0;
      border-right: 2px solid $nav-dark-color;
      fa{
        padding-right: 3px;
      }
    }

    .nav-link:hover {
      border-right: 2px solid $nav-dark-color;
    }

    .nav-link.active {
      background-color: $background-dark-color;
      color: $text-light-color + 100;
      border-right: 2px solid $nav-dark-color;
    }

    .nav-link.disabled {
      padding-left: 5px;
      background-color: $nav-dark-color;
      height: 31px;
    }

    .nav-link.disabled:hover {
      cursor: default;
    }
  }
}
