
<div *ngIf="project">
  <div>
    <ngb-tabset class="project-tabs">
      <ngb-tab *ngFor="let todo of project.todoLists;">
        <ng-template ngbTabTitle><fa style="color: #FFC66D;" name="list"></fa> {{todo.name}}</ng-template>
        <ng-template ngbTabContent>
          <app-todo></app-todo>
        </ng-template>
      </ngb-tab>
      <ngb-tab *ngFor="let note of project.noteLists">
        <ng-template ngbTabTitle><fa style="color: #CB772F;" name="align-left"></fa> {{note.name}}</ng-template>
        <ng-template ngbTabContent>
          <app-notes [note]="note"></app-notes>
        </ng-template>
      </ngb-tab>
      <ngb-tab [disabled]="true">
        <ng-template ngbTabTitle class="button-tab"><button class="add-project-item-tab"><fa name="plus"></fa></button></ng-template>
      </ngb-tab>
    </ngb-tabset>
  </div>
</div>
