
<div *ngIf="project">
  <div class="top-sub-nav d-flex">
    <!--<div class="tab-item"><fa style="color: #FFC66D;" name="list"></fa> Todo 1</div>-->
    <div *ngFor="let todo of project.todoLists; let first = first;" class="tab-item">
      <fa style="color: #FFC66D;" name="list"></fa> {{todo.name}}
    </div>
    <!--<div class="tab-item active-project-tab">-->
    <div *ngFor="let note of project.noteLists" class="tab-item">
      <fa style="color: #CB772F;" name="align-left"></fa> {{note.name}}
    </div>
    <button class="add-project-item-tab"><fa name="plus"></fa></button>
  </div>
  <div>
    <app-notes></app-notes>
    <!--<div class="mt-5 d-flex align-items-center text-dark">-->
    <!--<h1 class="text-center w-100">Notes UP</h1>-->
    <!--</div>-->
  </div>
</div>
