<div class="main-nav d-flex flex-column h-100">
  <div class="flex-grow-1">
    <div class="d-flex justify-content-center mt-2"><a routerLink="/home" routerLinkActive="active-link"><fa name="dashboard"></fa></a></div>
    <div class="d-flex justify-content-center mt-1"><a routerLink="/projects" routerLinkActive="active-link"><fa name="folder-open"></fa></a></div>
  </div>
  <div class="mb-2 d-flex justify-content-center"><a routerLink="/settings" routerLinkActive="active-link"><fa name="cog"></fa></a></div>
</div>
